//  --- AIS COLORS UI KIT ---
$dark-lime:         #82af05 !default;
$sickly-yellow:     #b2d235 !default;
$cloud-sky:         #e0f6f3 !default;
$kram:              #2d6990 !default;
$dark-blue:         #113145 !default;
$brown-grey:        #808080 !default;
$grey:              #dbdbdb !default;
$very-light-pink:   #ededed !default;
$white:             #ffffff !default;
$tomato:            #f05a22 !default;
$charcoal-grey:     #39464e !default;
$light-grey:        #b2ccbc !default;

